*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  background-image: linear-gradient(90deg,blue,yellow,blue);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.main-container{
  background-color: white;
  width: 440px;
  height: 452px;
  padding: 20px;
}

.main-title{
  font-weight: 700;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}

.add-colors-container{
  margin: 16px 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.input-container{
  border: 2px solid rgb(184, 183, 183);
  height: 50px;
  width: 334px;
  display: flex;
}

.heart-icon{
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-field{
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
}

.input-field input{
  border: none;
  font-weight: 400;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  color: #8A8C8E;
  padding: 5px;
}

.input-field input:focus{
  outline: none;
}

.selected-color-container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 46px;
  border-left: 1px solid rgb(184, 183, 183);
}

.display-selected-color{
  border:none;
  padding: 0px;
  margin: 0px;
  height: 40px;
  width: 40px;
  border-radius: 4px;
}

.add-color-button{
  width: 50px;
  font-size: 20px;
  color: white;
  background-color: #3C4043;
}

.my-favorite-color-list{
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
}

.my-favorite-colors-subtitle{
  font-weight: 700;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}

.fav-color-item{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.fav-color-code{
  width: 28px;
  height: 28px;
}

.fav-color-name{
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-align: left;
  width: 250px;
}

.remove-color-button{
  border: 1px solid rgb(184, 183, 183);
  padding: 7px 10.5px;
}

.no-colors-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.no-colors-image-container{
  border: 1px solid rgb(184, 183, 183);
  margin-top: 32px;
}

.no-colors-image-container img{
  padding: 30px;
}

.no-colors-subtitle{
  font-weight: 700;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  margin-top: 16px;
}

.no-colors-paragraph{
  font-weight: 400;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  margin-top: 6px;
}